body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 40px;
    color: #222;
}

h2, h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

table {
    margin: 0 auto 40px;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
}

th, td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #f0f0f0;
    font-weight: 500;
}

.back-home-wrapper {
    text-align: center;
    margin-top: 20px;
}

.back-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
}

.back-btn:hover {
    background-color: #000;
}


.block-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.table-wrapper table {
    min-width: 300px;
}

.chart-wrapper canvas {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}
